@font-face {
  font-family: Helvetica;
  font-weight: normal;
  src: url("../fonts/Helvetica.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: normal;
  font-style: oblique;
  src: url("../fonts/Helvetica-Oblique.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 200;
  src: url("../fonts/Helvetica-Light.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: oblique;
  src: url("../fonts/Helvetica-BoldOblique.ttf");
}
@font-face {
  font-family: Helvetica-Rounded;
  font-weight: 700;
  src: url("../fonts/Helvetica-Rounded-Bold.otf");
}

@font-face {
  font-family: Roobert;
  font-weight: 200;
  src: url("../fonts/Roobert-Light.otf");
}
@font-face {
  font-family: Roobert;
  font-weight: normal;
  src: url("../fonts/Roobert-Regular.otf");
}
@font-face {
  font-family: Roobert;
  font-weight: 500;
  src: url("../fonts/Roobert-Medium.otf");
}
@font-face {
  font-family: Roobert;
  font-weight: 600;
  src: url("../fonts/Roobert-SemiBold.otf");
}
@font-face {
  font-family: Roobert;
  font-weight: 700;
  src: url("../fonts/Roobert-Bold.otf");
}
@font-face {
  font-family: Roobert;
  font-weight: 800;
  src: url("../fonts/Roobert-Heavy.otf");
}
