@font-face {
  font-family: Helvetica;
  font-weight: normal;
  src: url("../fonts/Helvetica.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: normal;
  font-style: oblique;
  src: url("../fonts/Helvetica-Oblique.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 200;
  src: url("../fonts/Helvetica-Light.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: Helvetica;
  font-weight: 700;
  font-style: oblique;
  src: url("../fonts/Helvetica-BoldOblique.ttf");
}
@font-face {
  font-family: Helvetica-Rounded;
  font-weight: 700;
  src: url("../fonts/Helvetica-Rounded-Bold.otf");
}
