/* main components css */
.content {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    display: block;
    line-height: 24px;
    margin-left: 250px;
    min-height: 922px;
    text-align: left;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    z-index: 3000;
}
.footer {
    box-sizing: border-box;
    display: block;
    line-height: 24px;
    margin-left: 250px;
    padding: 15px;
    text-align: left;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    z-index: 3000;
}
.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 250px;
    padding: 8px;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    z-index: 1000;
}
.sidebar {
    background-color: #f7f7f7;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: block;
    height: 979px;
    left: 0px;
    line-height: 24px;
    min-height: 922px;
    overflow-y: hidden;
    position: fixed;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    width: 250px;
    z-index: 1100;
}
.wrapper {
    display: block;
    position: relative;
    text-align: left;
}
.wrapper, body, html {
    min-height: 100%;
    overflow-x: hidden;
}

/* classNames css */
.brand-link {
    display: block;
    box-sizing: border-box;
    padding: 13px 8px 8px 13px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid #e4e3e3;
}
.brand-image {
    box-sizing: border-box;
    float: left;
    margin-left: 12.8px;
    margin-right: 20px;
    margin-top: -3px;
    max-height: 34px;
    line-height: 16px;
    vertical-align: middle;
}
.brand-text {
    color: #333;
    font-family: 'Roobert-Bold', sans-serif;
    font-size: 2rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}
.navbar-expand, .navbar-nav{
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.nav-item {
    margin: 0;
}
.nav-link {
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    display: block;
}
.nav-link-icon {
    height: 20px;
    fill: #333333;
}
.navbar-nav > .nav-item > button.nav-link {
    max-width: 56px;
    max-height: 39px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.navbar-nav > .nav-item > button.nav-link:focus {
    outline: none;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    display: none;
    min-width: 280px;
    padding: 0 0 0 20px;
    background-color: #ffffff;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    margin: .125rem 0 0 0;
    font-size: 1rem;
    border: 0.25rem solid #333333;
    border-radius: .25rem;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.025);
    background-clip: padding-box;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
    border-radius: .75rem 0 .75rem .75rem;
}
.dropdown-menu-show {
    display: block !important;
    z-index: 2000;
}
.dropdown-menu-hide {
    display: none !important;
    z-index: 1000;
}
/* Misc styles */
.ml-auto {
    margin-left: auto !important;
}