.google-map {
  width: 100%;
  height: 93vh;
  position: relative;
  z-index: 0;
}

.pin {
  display: block;
  width: 4rem;
  margin-left: -2.75rem;
  margin-top: -2.5rem;
  --tw-text-opacity: 1;
  color: rgba(245, 158, 11, var(--tw-text-opacity));
}

.pin .icon-car {
  width: 4rem;
  font-size: 3rem;
  line-height: 1;
}

.pin .text {
  text-align: center;
  margin-top: -0.1rem;
  padding: 0.2rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
